<div class="container">
	<h1>Generate GIFS</h1>

	<input type="text" id="genre" value="funny" placeholder="Pick Your GIF Type"/>

	<button type="button" class="gif btn btn--stripe">Click me!</button>
	<p class="gifText">GIF Me Please!!</p>
	<button type="button" class="gifLike btn btn--stripe">Like</button>


	<!--<p> 
		"<span id="lastJoke">{{funny.joke}}</span>"
		 has been added <a href="/profile">to your jokes.</a>
	</p>-->




	


</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascript/script.js"></script>
       

