
{{#if user}}


    username: {{user.username}}
    <a href="/logout">LogOut</a>
{{/if}}
<h1> JOKES </h1>


<div class="container">
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
</div>
