<div class="container">
{{#if user}}
    username: {{user.username}}
    <a href="/logout">LogOut</a>
{{/if}}
<h1> Welcome to Funny Times </h1>
<p class="info">This api is all about Family friendly jokes and gifs</p>

<p class="info">Thanks for coming to the worlds leader in funny jokes and gifs. Customize your own profile page with random jokes and gifs</p>

<iframe src="https://giphy.com/embed/aHmquP8GsDCHS" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="info">These examples of random jokes from gif and joke apis. https://icanhazdadjoke.com/ https://giphy.com/</p>
<iframe src="https://giphy.com/embed/3orif777ltBKZ02jyE" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="info">
Sign Up and start saving the funniest jokes and gifs around to your profile. <a href="/register">Register</a> or <a href="/login">Login</a> today and head over to <a href="/jokes">New Jokes</a>  or <a href="/gifs">Gifs</a> to add them to your <a href="/profile">Profile</a>
</p>
</div>

