<div class="container">
{{#if user}}
    username: {{user.username}}
    <a href="/logout">LogOut</a>
{{/if}}
<h1> JOKES </h1>
<p class="info">This api is all about Family friendly jokes</p>

<p class="info">Home
Lorem ipsum dolor amet whatever palo santo selvage fixie cronut. Pickled chartreuse ugh, chicharrones try-hard church-key poke af dreamcatcher franzen butcher truffaut keffiyeh pabst synth. Street art chambray direct trade typewriter. Skateboard beard retro fingerstache normcore locavore meggings squid authentic kogi. Authentic schlitz small batch farm-to-table flexitarian readymade copper mug. Hammock jean shorts neutra try-hard taxidermy franzen tote bag pinterest subway tile pabst. Man braid before they sold out migas, artisan cloud bread lumbersexual chillwave plaid chartreuse chambray.</p>

<iframe src="https://giphy.com/embed/aHmquP8GsDCHS" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="info">
Woke +1 plaid godard, craft beer viral mixtape four loko helvetica DIY kombucha authentic brooklyn. Pitchfork everyday carry gochujang stumptown woke VHS XOXO, hexagon health goth humblebrag wayfarers kickstarter four dollar toast mlkshk. Drinking vinegar you probably haven't heard of them seitan polaroid live-edge, pork belly pickled banh mi. Squid echo park retro fanny pack salvia roof party. Viral selvage messenger bag, iceland thundercats photo booth beard mumblecore roof party portland locavore whatever fam pug. Prism ugh lomo, readymade tofu kickstarter adaptogen man braid tacos fanny pack small batch sartorial thundercats hella. Fixie quinoa photo booth, iceland leggings celiac four dollar toast poutine drinking vinegar twee tofu keffiyeh typewriter occupy.</p>
<iframe src="https://giphy.com/embed/3orif777ltBKZ02jyE" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="info">
Man bun forage hammock cloud bread woke cardigan art party blue bottle coloring book hexagon bitters asymmetrical viral blog yuccie. Disrupt 90's XOXO master cleanse subway tile seitan synth. Migas adaptogen enamel pin, biodiesel +1 hashtag palo santo wolf narwhal beard pabst man braid shabby chic irony swag. Sartorial pinterest thundercats tilde helvetica.



Oh. You need a little dummy text for your mockup? How quaint.

I bet you’re still using Bootstrap too…
</p>
</div>

