
 <div class="container">
	<h1>Generate Random Jokes</h1>

	<button type="button" class="newJoke btn btn--stripe">Click me!</button>
	<p class="text">Joke Me Please!!</p>
	<button type="button" class="like btn btn--stripe">Like</button>

	<p> 
		"<span id="lastJoke">{{funny.joke}}</span>"
		 has been added <a href="/profile">to your jokes.</a>
	</p>




	


</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascript/script.js"></script>
       
