<div class="container">
	<h1>Generate Random Jokes</h1>

	{{#if user}}
	    username: {{user.username}}
	{{/if}}
	

	<button type="button" class="btn">Click me!</button>
	<p class="text">Replace me!!</p>
	<button type="button" class="like">Like</button>



<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascript/script.js"></script>

